/* Grid */
.grid {
  display: block;
  margin-left: -$spacing-default;
  letter-spacing: -0.31em; /* webkit */
  *letter-spacing: normal; /* reset IE < 8 */
  word-spacing: -0.43em; /* IE < 8 && gecko */
  margin-bottom: $spacing-default;
}

.grid:before,
.grid:after {
  display: table;
  line-height: 0;
  content: "";
}

.grid:after {
  clear: both;
}
.g {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  letter-spacing: normal;
  word-spacing: normal;
  padding-left: $spacing-default;
}

// .fr fractions
// Used like <div class="fr-1/2">
.fr-1\/1 { width: (1/1) * 100%;}
.fr-1\/2 { width: (1/2) * 100%;}
.fr-1\/3 { width: (1/3) * 100%;}
.fr-2\/3 { width: (2/3) * 100%;}
.fr-1\/4 { width: (1/4) * 100%;}
.fr-3\/4 { width: (3/4) * 100%;}
.fr-1\/6 { width: (1/6) * 100%;}

@media all and (min-width: px-to-em(320)) { /* 320px */
  .fr-xs-1\/1 { width: (1/1) * 100%;}
  .fr-xs-1\/2 { width: (1/2) * 100%;}
  .fr-xs-1\/3 { width: (1/3) * 100%;}
  .fr-xs-2\/3 { width: (2/3) * 100%;}
  .fr-xs-1\/4 { width: (1/4) * 100%;}
  .fr-xs-3\/4 { width: (3/4) * 100%;}
  .fr-xs-1\/6 { width: (1/6) * 100%;}
}

@media all and (min-width: px-to-em(480)) { /* 480px */
  .fr-s-1\/1 { width: (1/1) * 100%;}
  .fr-s-1\/2 { width: (1/2) * 100%;}
  .fr-s-1\/3 { width: (1/3) * 100%;}
  .fr-s-2\/3 { width: (2/3) * 100%;}
  .fr-s-1\/4 { width: (1/4) * 100%;}
  .fr-s-3\/4 { width: (3/4) * 100%;}
  .fr-s-1\/6 { width: (1/6) * 100%;}
}

@media all and (min-width: px-to-em(600)) { /* 600px */
  .fr-m-1\/1 { width: (1/1) * 100%;}
  .fr-m-1\/2 { width: (1/2) * 100%;}
  .fr-m-1\/3 { width: (1/3) * 100%;}
  .fr-m-2\/3 { width: (2/3) * 100%;}
  .fr-m-1\/4 { width: (1/4) * 100%;}
  .fr-m-3\/4 { width: (3/4) * 100%;}
  .fr-m-1\/6 { width: (1/6) * 100%;}
}

@media all and (min-width: px-to-em(768)) { /* 768px */
  .fr-l-1\/1 { width: (1/1) * 100%;}
  .fr-l-1\/2 { width: (1/2) * 100%;}
  .fr-l-1\/3 { width: (1/3) * 100%;}
  .fr-l-2\/3 { width: (2/3) * 100%;}
  .fr-l-1\/4 { width: (1/4) * 100%;}
  .fr-l-3\/4 { width: (3/4) * 100%;}
  .fr-l-1\/6 { width: (1/6) * 100%;}
}

@media all and (min-width: px-to-em(976)) { /* 976px */
  .fr-xl-1\/1 { width: (1/1) * 100%;}
  .fr-xl-1\/2 { width: (1/2) * 100%;}
  .fr-xl-1\/3 { width: (1/3) * 100%;}
  .fr-xl-2\/3 { width: (2/3) * 100%;}
  .fr-xl-1\/4 { width: (1/4) * 100%;}
  .fr-xl-3\/4 { width: (3/4) * 100%;}
  .fr-xl-1\/6 { width: (1/6) * 100%;}
}