// this is the main file which groups everything together

// variables
@import 'variables/common';

// generic
@import 'generic/mixins';
@import 'generic/functions';

// structure
@import 'vendor/_normalize';

@import 'structure/body';
@import 'structure/typography';
@import 'structure/grid';

// objects
@import 'objects/code';
@import 'objects/highlight';


input, textarea {
  color: $color-body-text;
}

a {
  color: $color-link;
}

input, textarea {
  border: solid 1px $color-subtleline;
  border-bottom-color: $color-keyline;
  width: 100%;
  font-family: $font-family-global;
  background: transparent;
  padding: $spacing-half 64px $spacing-half $spacing-half;

}

.input-wrap textarea {
  resize: none;
  height: 80px;
  overflow: auto;
}

.input-head {
  font-size: 32px;
}
.input-wrap {
  position: relative;
  margin-bottom: $spacing-default;
}
.input-label {
  position: absolute;
  bottom: $spacing-tiny;
  right: $spacing-half;
  font-size: 14px;
  color: $color-keyline;
}

.customer-form {
  max-width: 500px;
}

::-ms-clear {
  width : 0;
  height: 0;
}

.messages {
  position: absolute;
  top: $spacing-default;
  left: $spacing-default;
  right: $spacing-default;
  list-style: none;
  margin: 0 0 $spacing-double 0;
  padding:0;
}
.messages__msg {;
  padding: $spacing-default 18px;
  border: none;
  margin-bottom: $spacing-half;
}
.messages__msg:before {
  margin-right: $spacing-default;
  font-weight: bold;
}

.messages__msg--info {
  background: #4444cc;
  color: #fff;
}
.messages__msg--info:before {
  content: 'i';
}

.messages__msg--error {
  background: #ff4444;
  color: #fff;
}

.input-wrap.error{
  color: #ff4444;
}

.error .input-label {
  color: #ff4444;
}
.error input,
.error textarea {
  color: #ff4444;
  border-bottom-color: #ff4444
}

.messages__msg--error:before {
  content: 'X';
}

.messages__msg--success {
  background: #229922;
  color: #fff;
}
.messages__msg--success:before {
  content: '\\o/';
}

.table--summary {
  width: 100%;
  border-spacing: 0;
}

.table--summary thead {
  position: sticky;
}
.table--summary th,
.table--summary td {
  text-align: left;
  padding: $spacing-half $spacing-tiny;
  border-bottom: solid 1px #666;
}
.table--summary tbody tr:hover {
  cursor: pointer;
  background: #555;
}
.table__row--active {
  background: #585868;
}

.table__onward {
  width: $spacing-default;
  text-align: center;
}

// pagination
.pg {
  text-align: center;
  margin: $spacing-default 0;
}

.pg__list {
  list-style: none;
  padding: 0;
}
.pg__item {
  display: inline;
}

.btn {
  background: #222;
  color: #fff;
  border: solid 1px #555555;
  padding: $spacing-default;
  cursor: pointer;
}
button,
.btn:hover,
.btn:active,
.btn:focus{
  background: #111;
}

/*
@-webkit-keyframes fadeout {
  0%, 50%   { opacity: 1}
  100% { opacity: 0 }
}
@keyframes fadeout {
  0%, 50%   { opacity: 1}
  100% { opacity: 0 }
}

.messages__msg {
  -webkit-animation: fadeout 6s ease-in forwards; // Safari 4+
  animation:         fadeout 6s ease-in forwards; // IE 10+, Fx 29+
}

.messages__msg:nth-child(1) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.messages__msg:nth-child(2) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.messages__msg:nth-child(3) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.messages__msg:nth-child(4) {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
*/