<div data-resultset data-resultsetnext="{{ pagination.nextPage }}">
    {{#if customers }}
        <table class="table--summary">
            <thead>
            <tr>
                <th>Reference</th>
                <th>Name</th>
                <th>Address</th>
                <th class="table__onward">&nbsp;</th>
            </tr>
            </thead>
            <tbody data-source="customers">
                {{#each customers}}
                    {{> customer this }}
                {{/each}}
            </tbody>
        </table>
        {{> generic/paginator pagination }}
    {{else}}
        <p>No customers were found for this query</p>
    {{/if}}
</div>