{{#if user.isAdmin}}<p>ADMINISTRATOR</p>{{/if}}

{{#if hasEditRights}}
{{> users/details this }}{{!-- partial must NOT have indentation --}}
{{else}}
{{> users/display user }}{{!-- partial must NOT have indentation --}}
{{/if}}


{{#if userIsCurrent}}
<p><a href="/change-password">Change password</a></p>
{{/if}}