<h1>{{ title }}</h1>
{{> generic/messages messages }}

<h2>Jobs</h2>
<p>Total: {{ jobsCount }}</p>

<ul>
    {{#each jobs}}
    <li>{{> job this }}</li>
    {{/each}}
</ul>

<div class="logo" style="height: 200px;width: 200px">

</div>