$font-size-a        : 32px;
$font-size-b        : 24px;
$font-size-c        : 16px;
$font-size-d        : 16px;
$font-size-e        : 14px;
$font-size-f        : 12px;

$font-family-global : sans-serif;
$font-family-headers : sans-serif;

$spacing-default    : 24px;
$spacing-double     : 48px;
$spacing-half       : 12px;
$spacing-tiny       : 6px;
