<h1>Search for customers</h1>

<form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    <div class="input-wrap {{ searchForm.validationErrors.q_class }}">
        <label class="input-label" for="form-q">Search</label>
        <input class="input-head" type="text" name="q" id="form-q" value="{{ searchForm.q }}" />
        {{#if searchForm.validationErrors.q }}
        <p>{{ searchForm.validationErrors.q }}</p>
        {{/if}}
    </div>
    <div>
        <button type="submit">Search</button>
    </div>
</form>



{{#if query }}
    {{> customers/results this }}
{{/if}}