<p>Your account has just been created. A temporary password has been provided.</p>

<p><a href="http://localhost:4567">Login now</a></p>

<p>Alternatively:</p>

<p>URL: <a href="http://localhost:4567">http://localhost:4567</a></p>
<p>E-mail: {{ user.email }}</p>
<p>Temporary Password: {{ user.password }}</p>