<p>You recently requested to reset your password.
    Click the following link to expire your current password and login.
    You will then be asked to set a new password</p>

<p><a href="{{ resetUrl }}">{{ resetUrl }}</a></p>
