{{> layout/head this }}

{{#if loggedInUser}}
<div>Hello <a href="{{loggedInUser.url}}">{{loggedInUser.name}}</a> -  <a href="/logout">Logout</a></div>
{{/if}}

<div>
    <nav>
        <ul>
            <li><a href="/customers">Customers</a></li>
        </ul>
    </nav>
</div>

{{{body}}}

{{> layout/foot this }}