<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

<div>
    <nav>
        <ul>
            <li><a href="/customers">Customers</a></li>
        </ul>
    </nav>
</div>

{{{body}}}
{{> generic/messages messages }}

</body>
</html>