{{> layout/head this }}

<h1>{{ appSettings.applicationName }}</h1>

{{#if loggedInUser}}
<div>Hello <a href="{{loggedInUser.url}}">{{loggedInUser.name}}</a> -  <a href="/logout">Logout</a></div>
{{/if}}

<div>
    <nav>
        <ul>
            <li><a href="/customers">Customers</a></li>
            <li><a href="/jobs">Jobs</a></li>
            {{#if loggedInUser.permissions.canEditSettings}}
                <li><a href="/settings">Admin settings</a></li>
            {{/if}}
        </ul>
    </nav>
</div>

{{{body}}}

{{> layout/foot this }}